/*
------------Mixins------------------
*/

@mixin animate($attr, $time) {
  -webkit-transition: $attr $time ease;
  -moz-transition: $attr $time ease;
  -ms-transition: $attr $time ease;
  -o-transition: $attr $time ease;
  transition: $attr $time ease;
}

@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}

@mixin box-overlay() {
  -webkit-box-shadow: $generic-box-shadow;
  box-shadow: $generic-box-shadow;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 85px;
  border-radius: 3px;
}

@mixin list-color {
  @for $i from 1 through length($colors) {
    &:nth-child(#{length($colors)}n + #{$i}) {
      .sidebar__dot {
        color: nth($colors, random(length($colors)));
      }
    }
  }
}

@mixin va($va-align: center) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @if $va-align != center {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  } @else {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin btn($width) {
  width: $width;
  margin-right: 10px;
  background-color: #db4c3f;
  color: #fff !important;
  border: 1px solid transparent;
  font-size: 13px !important;
  padding: 6px 12px 7px 12px;
  white-space: nowrap;
  border-radius: 3px !important;
  cursor: pointer;
  &:disabled {
    opacity: 0.6;
  }
}

@mixin cancel() {
  color: #555;
  cursor: pointer;
  font-size: 14px;
  margin: 2px 5px;
}

@mixin transparent-button() {
  background-color: transparent;
  border: 0;
}

@mixin task-item() {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 18px;
  color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  list-style-type: none;
  border-bottom: 1px solid #f0f0f0;
  padding-left: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f9f9f9;
  }
}

@mixin mq($from) {
  @media (max-width: $from) {
    @content;
  }
}
