/*
------------Variables------------------
*/

$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
  rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #db4c3f;

$colors: #fa1616, #b5076b, #222831, #f05454, #fa26a0, #fd8c04;
